/* Linh Start */

.linlin-search-box {
    margin: auto;
    margin-top: 20px;
    padding: 1px;
    height: 45px;
    width: 300px;
    border-radius: 30px;
    border: 1px solid black;
}

.linlin-search-btn {
    background-color: inherit;
    border: none;
}

.linlin-search-btn:focus {
    outline: none;
}

.linlin-search-box-icon {
    color: black;
    font-size: small;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 15px;
}

.linlin-search-box-text {
    width: 200px;
    height: 40px;
    text-align: center;
    border: none;
    background-color: inherit;
    color: black;
}

.linlin-search-box-text:focus {
    outline: none;
}

.linlin-following-part {
    margin-top: 20px;
    background-image: url("https://p1.pxfuel.com/preview/357/238/457/stars-sky-galaxy-night.jpg");
}

.linlin-list-group-item {
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    flex-direction: row;
    padding: .5rem .5rem;
    overflow: hidden;
}

.linlin-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.linlin-following-style {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.linlin-follow-center-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 80px;
}

.linlin-follow-right-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
}

.linlin-follow-button {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: rgba(29, 161, 242, 1.00);
    border-color: rgb(40, 102, 141);
    font-weight: bold;
}

.linlin-follow-button:hover {
    background-color: lightcyan;
}

.linlin-follow-button:focus {
    outline: none;
}

.linlin-following-button {
    /* background-color: rgba(29, 161, 242, 1.00); */
    color: rgb(212, 56, 56);
    background-color: rgb(255, 242, 122);
    /* color: white; */
}

.linlin-following-button:hover {
    color: white;
    background-color: Red;
    border-color: red;
}

.linlin-following-button:hover span {
    display: none;
}

.linlin-following-button:hover:before {
    content: "Unfollow";
}

.linlin-unfollow-pop-up {
    position: absolute;
    z-index: 2;
    left: auto;
    right: auto;
    border-radius: 5px;
    width: 320px;
    height: auto;
    padding: 15px 20px;
    text-align: center;
    position: relative;
    color: white;
    background-color: rgb(21, 32, 43);
}

.linlin-unfollow-title {
    font-weight: bold;
    font-size: 20px;
}

.linlin-unfollow-description {
    /* font-weight: bold; */
    margin: 10px 0;
}

.linlin-unfollow-btn {
    margin: 10px;
    border-radius: 25px;
    width: 110px;
    height: 35px;
    color: white;
    background-color: rgba(29, 161, 242, 1.00);
    border: none;
    font-weight: bold;
}

.linlin-unfollow-btn-cancel {
    margin: 10px;
    border-radius: 25px;
    width: 110px;
    height: 35px;
    color: white;
    background-color: rgb(37, 51, 65);
    border: none;
    font-weight: bold;
}

.navbar {
    overflow: visible;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 0 15px 15px 0;
    text-decoration: none;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup .dropbtn {
    background-color: inherit;
    border: none;
    margin-top: -3px;
    color: black;
}

.dropup-content {
    display: none;
    position: absolute;
    /* bottom: 30px; */
    background-color: #f1f1f1;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.dropup-content a {
    width: 100%;
    float: left;
    padding: 10px;
    color: black;
    text-align: left;
    text-decoration: none;
}

.dropup-content a:hover {
    background-color: #ddd
}

.dropup:hover .dropup-content {
    display: block;
}

.linlin-footer-row {
    width: 100%;
}

.linlin-footer-text {
    font-size: 12px;
}


/* Linh End */


/* Vinh Start */

.mid-column {
  padding: 0;
  border-left: 1px solid rgba(204, 204, 204, 0.726);
  border-right: 1px solid rgba(204, 204, 204, 0.726);
}
span>span {
    font-size: 12px;
    user-select: none;
}

#dark-bg {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    border-radius: 10px;
    min-width: 500px;
    /* max-width: 200px; */
    max-height: 200px;
    background-color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.retweet-pop-up {
    position: absolute;
    z-index: 2;
    left: auto;
    right: auto;
}

.input-retweet {
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 65%;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.input-retweet:focus {
    outline: none;
}

.retweet-button {
    margin: 0 auto;
    /* max-width: 100px; */
    color: rgb(212, 56, 56);
    background-color: rgb(255, 242, 122);
    border: 2px solid white;
    font-weight: 700;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px 28px;
    margin-top: 10px;
    display: inline-block;
    transition-duration: 0.3s;
}

.retweet-button:hover {
    background-color: rgb(120, 255, 42);
    color: rgb(67, 123, 175);
    border: 2px solid rgb(149, 130, 255);;
    transition-duration: 0.3s;
}

.close {
    position: absolute;
    color: rgba(128, 128, 128, 0.5);
    top: 0px;
    right: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(45deg);
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
}

.left-column {
    /* background-color: white; */
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.profile-pic-retweet {
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: auto;
}

.twit-card {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.726);
    border-top: 0;
    background-color: rgb(255, 255, 255);
}

.twit-name {
    font-weight: bold;
}

.twit-handle,
.post-date {
    margin-left: 5px;
}

.post-date {
    color: rgb(167, 167, 167);
}

.content-row {
    margin-bottom: 15px;
    word-wrap: break-word;
}

.twit-comment:hover {
    background-color: rgba(80, 176, 255, 0.589);
    transition-duration: 0.3s;
}

.twit-retweet:hover {
    background-color: rgba(102, 255, 153, 0.589);
    transition-duration: 0.3s;
}

.twit-like:hover {
    background-color: rgba(255, 127, 80, 0.589);
    transition-duration: 0.3s;
}

.twit-share:hover {
    background-color: rgba(80, 255, 255, 0.589);
    transition-duration: 0.3s;
}

.twit-icon {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 0.3s;
}

.retweet {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
    padding: 10px;
}

.retweet-disable {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(224, 224, 224);
}

.profile-col {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 50px;
}

.profile-right-col {
    margin-left: 5px;
    margin-right: 5px;
}

.retweet-text {
    padding: 0 10px;
}

.red {
    color: red;
}

.blue {
    color: darkcyan;
}


/* Vinh End */


/* Quan Start */

.menu {
    /* width: 220px; */
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: white;
}

.menu>button>h5>i {
    margin-right: 20px;
}

.menu>button {
    margin-top: 15px;
    border: 0;
    border-radius: 25px;
    padding: 5px 25px 5px 12px;
    color: black;
}

.menu>button:hover {
    border: 0px solid #ebf2ff;
    border-radius: 25px;
    background-color: #ebf2ff;
    color: rgb(29, 161, 242);
}

.fa-dove {
    color: rgb(29, 161, 242);
    margin-top: 10px;
    margin-left: 10px;
}

#tweetBtn-menu {
    color: rgb(212, 56, 56);
    background-color: rgb(255, 242, 122);
    border: 2px solid gray;
    font-size: 15px;
    font-weight: bold;
    width: 180px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 0.3s;
}

#tweetBtn-menu:hover {
  transition-duration: 0.3s;
  color: rgb(255, 232, 103);
  border: 2px solid rgb(25, 148, 56);
  background-color: rgb(73, 184, 22)
}

#tweetBtn-menu>i {
    display: none;
}

.accountCard {
    position: relative;
    bottom: 0;
    margin-top: 40px;
}

.accountCard>button {
    display: flex;
    flex-flow: row wrap;
    /* width: 240px; */
    border-radius: 30px;
    height: 60px;
}

.profileBtn {
    display: flex;
    flex-flow: row;
    margin-right: 10px;
    background: none;
    color: black;
    border: 0;
}

#loginCredential {
    margin: 0;
}

.profileBtn:hover {
    color: black;
    background-color: #ebf2ff;
}

@media only screen and (max-width: 1200px) {
    .menu * span {
        display: none;
    }
    .menu>button>h5>i {
        margin: 0px;
    }
    .menu>button {
        border-radius: 9999px;
        padding: 5px 5px 0px 5px;
        margin-right: 15px;
    }
    .menu>button>h5 {
        text-align: center;
    }
    .menu>i {
        margin-right: 25px;
    }
    .menu>button:hover {
        border-radius: 9999px;
    }
    .menu {
        width: auto;
        align-items: center;
    }
    #tweetBtn-menu {
        align-self: flex-end;
        width: auto;
        margin: 10px 21px 0px 0px;
        border-radius: 9999px;
    }
    #tweetBtn-menu>i {
        display: block;
    }
    #tweetBtn-menu>span {
        display: none;
    }
    .accountCard>button>div {
        display: none;
        margin: 0;
        padding: 0;
    }
    .fa-angle-down {
        display: none;
        margin: 0;
        padding: 0;
    }
    .accountCard {
        margin-top: 60px;
    }
    .accountCard>button {
        display: flex;
        flex-flow: row wrap;
        width: auto;
        padding: 5px 5px;
        margin-right: 12px;
        border-radius: 9999px;
    }
    .profileBtn {
        margin-right: 5px;
    }
    #homeBtn {
        padding: 5px 5px;
    }
    #exploreBtn {
        padding: 5px 8px 4px;
    }
    #notiBtn {
        padding: 5px 8px;
    }
    #messageBtn {
        padding: 5px 6px 4px;
    }
    #bookmarkBtn {
        padding: 5px 7px 0px;
    }
    #listBtn {
        padding: 5px 4px 0px;
    }
    #userBtn {
        padding: 5px 6px 0px;
    }
}

.tweetbox {
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.726);
}

#tweetArea {
    color: white;
    resize: none;
    border: none;
    padding: 5px;
    max-width: 100%;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#faketweetArea {
  pointer-events: none;
  z-index: 1;
  top: 0;
  position: absolute;
  resize: none;
  border: none;
  padding: 5px;
  max-width: 100%;
  min-height: 50px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.extraBtn>button {
    border-radius: 100%;
    border: none;
    color: lightblue;
}

#remain {
    margin-right: 20px;
    margin-top: 5px;
}

.extraBtn>button:hover {
    border: 0px solid #ebf2ff;
    border-radius: 25px;
    background-color: #ebf2ff;
    color: rgb(29, 161, 242);
}

#tweetBtn {
    transition-duration: 0.3s;
    color: rgb(212, 56, 56);
    background-color: rgb(255, 242, 122);
    border-radius: 30px;
    border: 2px solid gray;
    width: 120px;
    font-weight: 700;
}

#tweetBtn:hover {
  transition-duration: 0.3s;
  color: rgb(255, 232, 103);
  border: 2px solid rgb(25, 148, 56);
  background-color: rgb(73, 184, 22)
}
/* Quan END */

.container {
  /* background-color: black; */
  height: 100vh;
}

.red-bg {
  background-color: rgb(255, 87, 87);
}
