/* Linh Start */

.linlin-search-box {
    margin: auto;
    padding: 1px;
    height: 45px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid black;
}

.linlin-search-btn {
    background-color: inherit;
    border: none;
}

.linlin-search-box-icon {
    color: #black;
    font-size: small;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 15px;
}

.linlin-search-box-text {
    width: 400px;
    height: 40px;
    text-align: center;
    border: 0px;
    background-color: inherit;
    color: black;
}

.linlin-following-part {
    border-radius: 20px;
}

.linlin-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.linlin-following-part {
    border-radius: 10px;
    margin-top: 20px;
}

.linlin-following-button {
    border-radius: 10px;
}


/* Linh End */


/* Vinh Start */

.left-column {
    background-color: antiquewhite;
}

.mid-column {
    background-color: rgb(173, 233, 165);
}

.right-column {
    background-color: rgb(255, 195, 195);
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


/* Vind End */