.left-column {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mid-column {
    background-color: rgb(173, 233, 165);
}

.right-column {
    background-color: rgb(255, 195, 195);
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.menu {
  width: 220px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  background-color: white;
}

.menu > button > h5 > i {
  margin-right: 20px;
}

.menu > button {
  margin-top: 15px;
  border: 0;
  border-radius: 25px;
  padding: 5px 25px 5px 12px;
  color: black;
}

.menu > button:hover {
  border: 0px solid #ebf2ff;
  border-radius: 25px;
  background-color: #ebf2ff;
  color: rgb(29, 161, 242);
}

.fa-dove {
  color: rgb(29, 161, 242);
  margin-top: 10px;
  margin-left: 10px;
}

#tweetBtn-menu {
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 220px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.accountCard {
  position: relative;
  bottom: 0;
  margin-top: 120px;
}

.accountCard > button {
  display: flex;
  flex-flow: row wrap;
  width: 240px;
  border-radius: 30px;
  height: 60px;
}

.profileBtn {
  display: flex;
  flex-flow: row;
  margin-right: 10px;
  background: none;
  color: black;
  border: 0;
}

#loginCredential {
  margin: 0;
}

.profileBtn:hover {
  color: black;
  background-color: #ebf2ff;
}

@media only screen and (max-width: 1030px) {
  .menu * span {
    display: none;
  }
  .menu > button > h5 > i {
    margin: 0px;
  }
  .menu > button {
    border-radius: 9999px;
    padding: 5px 10px 0px 10px;
    margin-right: 15px;
  }
  .menu > button >h5 {
    text-align: center;
  }
  .menu > i {
    margin-right: 25px;
  }
  .menu > button:hover {
    border-radius: 9999px;
  }
  .menu {
    width: auto;
    align-items: center;
  }
  #tweetBtn-menu {
    align-self: flex-end;
    width: auto;
    margin: 10px 21px 0px 0px;
    border-radius: 9999px;
  }
  #tweetBtn-menu > i {
    display: block;
  }
  #tweetBtn-menu > span {
    display: none;
  }
  .accountCard > button > div {
    display: none;
    margin: 0;
    padding: 0;
  }
  .fa-angle-down {
    display: none;
    margin: 0;
    padding: 0;
  }
  .accountCard > button {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    border-radius: 9999px;
  }
  .profileBtn {
    margin-right: 5px;
  }
  #homeBtn {
    padding-left
  }
}
